*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/services/stock/stock
/services/billing/billing

go.work.sum

vendor/

.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

*.log

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

/web/korp-frontend/dist/
/web/korp-frontend/.angular/
/web/korp-frontend/.sass-cache/
/web/korp-frontend/connect.lock
/web/korp-frontend/coverage/
/web/korp-frontend/libpeerconnection.log
/web/korp-frontend/testem.log
/web/korp-frontend/typings/

.angular/

.env
.env.local
.env.*.local

Thumbs.db